@import "tailwindcss";

/* *{
  outline: 1px solid green;
} */

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
}

@theme {
    --background: oklch(97.371% 0.00276 285.752);
    --text: oklch(16.094% 0.01146 80.973);
    --gradient-background: linear-gradient(145deg, #f6f6f8 0%, #959bcc 92%);
}

@layer base {
  .dark {
    --background: oklch(16.094% 0.01146 80.973);
    --text: oklch(97.371% 0.00276 285.752);
    --gradient-background: linear-gradient(145deg, #292a3d 0%, #100d08 92%);
  }
}

@theme {
  --color-blue-bell-50: oklch(97.20% 0.0062 255.47);
  --color-blue-bell-100: oklch(94.57% 0.0128 266.70);
  --color-blue-bell-200: oklch(90.01% 0.0232 266.90);
  --color-blue-bell-300: oklch(83.37% 0.0394 269.40);
  --color-blue-bell-400: oklch(75.22% 0.0597 276.24);
  --color-blue-bell-500: oklch(70.25% 0.0720 278.94);
  --color-blue-bell-600: oklch(59.14% 0.0987 281.59);
  --color-blue-bell-700: oklch(52.37% 0.0966 282.55);
  --color-blue-bell-800: oklch(45.92% 0.0776 281.98);
  --color-blue-bell-900: oklch(41.42% 0.0550 281.03);
  --color-blue-bell-950: oklch(29.28% 0.0345 281.70);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.victor-mono {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F6F6F8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-user-select: none;
  user-select: none;
}

.hover\:custom-shadow:hover {
  -webkit-box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.3);
}

.gradient {
  background: var(--gradient-background);
}

.text-vertical-lr {
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.text-sideways-lr {
  text-orientation: mixed;
  writing-mode: sideways-lr;
}

.text-upright {
  text-orientation: upright;
  writing-mode: vertical-rl;
  white-space: nowrap;
  display: inline-block;
}

nav button.active {
  font-weight: 800;
  color: var(--text);
}