@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  outline: 1px solid green;
} */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.victor-mono {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply quicksand;
  color: white;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply select-none;
}

.pattern {
  background-image:  radial-gradient(#2a2a2a 1px, transparent 1px), radial-gradient(#313131 1px, #000000 1px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

#particles {
  z-index: -10;
  position: absolute;
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: cover;
}

#particles2 {
  z-index: -10;
  position: absolute;
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: cover;
}