@import "tailwindcss";

@theme {
  --primary: #f6f6f8;
  --secondary: #959bcc;
}

@layer base {
  .dark {
    --primary: #292a3d;
    --secondary: #100d08;
  }
}

.gutter-stable {
    scrollbar-gutter: stable;
}

.gutter-auto {
    scrollbar-gutter: auto;
}

::-webkit-scrollbar {
    width: .50rem;
    height: .50rem;
}

::-webkit-scrollbar-track {
    background: linear-gradient(
    to bottom, 
    var(--primary), 
    var(--secondary)
  );
}

::-webkit-scrollbar-thumb {
    border-radius: .50rem;
    background: linear-gradient(
    to top, 
    var(--primary), 
    var(--secondary)
  );
}

.hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* html {
  scrollbar-width: none;
  -ms-overflow-style: none; 
} html::-webkit-scrollbar { display: none;  } */